@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body {
    margin: 0;
    padding: 0;
    background: url(sunshineBackgorund3.jpg) no-repeat;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

.myDevicesDRPDWN {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid white;
    background-color: rgb(19, 35, 51);
    border-radius: 3px;
    width: auto;
    height: auto;
    font-size: 100%;
}

.myDevicesDRPDWN .dropbtn {
    border: none;
    outline: none;
    font-weight: 900;
    color: rgb(136, 125, 97);
    background-color: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    display: flexbox;
}

.myDevicesDRPDWN:hover .dropbtn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    background-color: black;
    font-weight: 900;
}

.myDevicesDRPDWN-content {
    display: none;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 900;
}

.myDevicesDRPDWN-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
    text-align: center;
}

.textBox {
    width: 30%;
    margin-right: 5%;
    margin-left: 5%;
    background-color: transparent;
    border: 2px solid white;
    margin-top: 3%;
    border-radius: 5px;
    color: white;
}