@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body {
    margin: 0;
    padding: 0;
    background: url(sunshineBackgorund3.jpg) no-repeat;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projectTitle {
    font-size: 300%;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-box {
    width: auto;
    height: auto;
    color: white;
    padding: 5%;
}

.login-box h1 {
    color: white;
    border-bottom: 3px solid #ccc;
    font-size: 130%;
}

.textbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    font-size: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

input[type=text]:focus,
input[type=password]:focus,
button:focus {
    border: 3px solid #ccc;
    background-color: rgba(204, 204, 204, 0.3);
}

.textbox i {
    float: left;
    text-align: start;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 8px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: none;
    color: white;
}

.input-icons i {
    position: left;
}

.input-icons {
    width: 100%;
    margin-bottom: 0 2%;
}

.button {
    width: 100%;
    border-radius: 4px;
    background: none;
    border: 1px solid #ccc;
    color: white;
    text-align: center;
    font-size: 100%;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5%;
    padding: 7px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover {
    background-color: rgba(204, 204, 204, 0.2);
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.fa {
    color: white;
    margin-right: 10%;
}

.fb {
    background-color: #3B5998;
    color: white;
    border-radius: 5px;
    width: 100%;
    margin-top: 50px;
}

.mediaButtonFb {
    width: 45%;
    border-radius: 4px;
    background: #3B5998;
    border: 1px solid #ccc;
    float: left;
    color: white;
    cursor: pointer;
    margin-top: 5%;
    padding: 7px;
}

.mediaButtonGg {
    width: 45%;
    border-radius: 4px;
    background: #dd4b39;
    border: 1px solid #ccc;
    color: white;
    float: right;
    cursor: pointer;
    margin-top: 5%;
    padding: 7px;
}

.loader {
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top: 5px solid #ccc;
    width: 12%;
    height: 0;
    padding-bottom: 12%;
    animation: spin 2s linear infinite;
    margin-top: 10%;
    margin-left: 38%;
    margin-right: 40%;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}